*{
    box-sizing: border-box;
    margin:0;
}
.habits li{
    list-style: none;
}

.habitContainer{
    background: lavender
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@media (min-width: 1200px) {

  
    .habitContainer {
      max-width: 100%;
      align-items: center;

    }
  }
  main{
    max-width: 50%;
  }