// mixins and variables

//examples from other project, edit colors
$myDarkPurple: #7B5C9A;
$myLightPurple: #E3DEF7; 
$myPink: #E3AACA;
$myOrange: #FC976C;
$myLightGrey: #D9D9D9;
$myTextColor: #3C3C3C;
$myBackground: #fff;


