* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  color: black;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 30px 0;
  position: relative;
  z-index: 9999;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.header-menu {
  display: none;
}
.start-logo{
  display:none;
}

.hidden {
  display: none;
}

#menu-bars {
  color: black;
  background-color: white;
  font-size: 36px;
  display: block;
  /* margin-right: 2rem; */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  margin-top: 60px;
}

a {
  text-decoration: none;
  color: black;
}

/* svg {
    display: block;
    max-width: 100%;
    user-select: none;
  } */

.btn {
  color: #2b2b2b;
  border-radius: 6px;
  padding: 12px 25px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
}

.todo,
.todoBtn {
  background-color: #add8e6;
}

.habits,
.habitsBtn {
  background-color: #e0d3fc;
}

.weather {
  background-color: #d9ffa9;
}

.pomodoro {
  background-color: #efffa1;
}

.calendar {
  background-color: #ffe1e9;
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mobile-nav-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.mobile-nav-link {
  font-size: 36px;
  text-decoration: none;
  font-weight: 600;
  color: black;
  letter-spacing: 0.05em;
  transition: color 0.3s;
  padding: 5px 30px;
  border-radius: 6px;
}

.desktop-line {
  border: 1px solid rgb(0, 0, 0);
  padding-right: 5em;
}

.logout-btn {
  color: #121212;
  background-color: #cacaca;
  border-radius: 6px;
  padding: 10px 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.start-mobile:active {
  background-color: #ff9a9a;
}

.todo-mobile:active {
  background-color: #add8e6;
}

.habits-mobile:active {
  background-color: #e0d3fc;
}

.weather-mobile:active {
  background-color: #d9ffa9;
}

.pomodoro-mobile:active {
  background-color: #efffa1;
}

.calendar-mobile:active {
  background-color: #ffe1e9;
}

.wrapper-calendar {
  display: none;
}

@media (min-width: 768px) {
  .header-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  .mobile-nav,
  #menu-bars,
  .mobile-btn {
    display: none;
  }

  .header-link {
    padding: 7px 10px;
    font-weight: 700;
    border-radius: 6px;
  }

  .start-desktop:hover {
    background-color: #ff9a9a;
  }

  .todo-desktop:hover {
    background-color: #add8e6;
  }

  .habits-desktop:hover {
    background-color: #e0d3fc;
  }

  .weather-desktop:hover {
    background-color: #d9ffa9;
  }

  .pomodoro-desktop:hover {
    background-color: #efffa1;
  }

  .calendar-desktop:hover {
    background-color: #ffe1e9;
  }

  .desktop-line {
    border: 1px solid rgb(0, 0, 0);
    padding-top: 1.5em;
    padding-right: 0;
  }

  .logout-btn {
    padding: 7px 10px;
  }

  .logout-btn:hover {
    background-color: #938f8f;
  }

  .hidden {
    display: block;
  }

  .main {
    height: 70%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  #usernameDisplay {
    margin-bottom: 15px;
  }

  .start-logo{
    width:25%;
    display:block;
  }
  .ctaContainer {
    height: 70%;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: auto;
  }

  .todoBtn:hover {
    background-color: #76abbd;
  }

  .habitsBtn:hover {
    background-color: #a38fce;
  }

  .hiddenDesktop {
    display: none;
  }

  .wrapper-calendar {
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .wrapper-calendar.open {
    opacity: 1;
    z-index: 999;
  }

  .container-calendar {
    width: 300px;
  }

  #form-calendar {
    background-color: #ffe1e9;
    padding: 15px;
    border-radius: 6px;
  }

  .text-input,
  .date-input,
  .start-time-input,
  .stop-time-input,
  .add-event-btn {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    border: none;
  }

  .add-event-btn {
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.025em;
    background-color: #fff;
    color: rgb(34, 34, 34);
    border-radius: 6px;
    border: 1px solid rgb(34, 34, 34);
    cursor: pointer;
    text-transform: uppercase;
  }

  .add-event-btn:active {
    background-color: #c7dbda;
  }

  .label-text {
    margin-left: 2px;
  }

  .events-list {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 300px;
    background-color: #c7dbda;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
    display: none;
    position: relative;
  }

  .event-item {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
  }

  .h2-events {
    text-align: center;
    margin-bottom: 10px;
  }

  .delete-btn {
    font-size: 13px;
    position: absolute;
    margin-left: 250px;
    margin-top: -16px;
  }

  .delete-btn:hover {
    cursor: pointer;
  }

  .events-list {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .add-event-btn:hover {
    background-color: #c7dbda;
  }
}
