* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: white;
  color: black;
  font-size: medium;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  margin: 0px 10px 20px 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 30px 0;
  position: relative;
  z-index: 9999;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 700 !important;
}

.header-menu {
  display: none;
}

.hidden {
  display: none;
}

#menu-bars {
  color: black;
  background-color: white;
  font-size: 36px;
  display: block;
  /* margin-right: 2rem; */
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.navBtn {
  color: #2b2b2b;
  border-radius: 6px;
  padding: 12px 25px;
  font-size: 36px;
  font-weight: 700 !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.navbBtn:hover {
  cursor: pointer;
}

.todo {
  background-color: #add8e6;
}

.habitsBtn {
  background-color: #e0d3fc;
}

.weather {
  background-color: #d9ffa9;
}

.pomodoro {
  background-color: #efffa1;
}

.calendar {
  background-color: #ffe1e9;
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mobile-nav-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.mobile-nav-link {
  font-size: 36px;
  text-decoration: none;
  font-weight: 600;
  color: black;
  letter-spacing: 0.05em;
  transition: color 0.3s;
  padding: 5px 30px;
  border-radius: 20px;
}

.desktop-line {
  border: 1px solid rgb(0, 0, 0);
  padding-right: 5em;
}

.logout-btn {
  color: #2b2b2b;
  background-color: #cacaca;
  border-radius: 6px;
  padding: 10px 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.start-mobile:active {
  background-color: #ffa7d3;
}

.todo-mobile:active {
  background-color: #add8e6;
}

.habits-mobile:active {
  background-color: #e0d3fc;
}

.weather-mobile:active {
  background-color: #d9ffa9;
}

.pomodoro-mobile:active {
  background-color: #efffa1;
}

.calendar-mobile:active {
  background-color: #ffe1e9;
}

.wrapper-calendar {
  display: none;
}

.outerModal {
  display: none;
}

@media (min-width: 768px) {
  .header-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: 2em;
    font-weight: 700;
  }
  .mobile-nav,
  #menu-bars,
  .mobile-btn {
    display: none;
  }
  .header-link {
    padding: 7px 10px;
    font-weight: 700;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-weight: 700 !important;
  }
  .start-desktop:hover {
    background-color: #ff9a9a;
  }
  .todo-desktop:hover {
    background-color: #add8e6;
  }
  .habits-desktop:hover {
    background-color: #e0d3fc;
  }
  .weather-desktop:hover {
    background-color: #d9ffa9;
  }
  .pomodoro-desktop:hover {
    background-color: #efffa1;
  }
  .calendar-desktop:hover {
    background-color: #ffe1e9;
  }
  .desktop-line {
    border: 1px solid rgb(0, 0, 0);
    padding-top: 1.5em;
    padding-right: 0;
  }
  .logout-btn {
    padding: 7px 10px;
    text-decoration: none;
  }
  .logout-btn:hover {
    background-color: #938f8f;
  }
  .hidden {
    display: block;
  }
  .wrapper-calendar {
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .wrapper-calendar.open {
    opacity: 1;
    z-index: 999;
  }
  .container-calendar {
    width: 300px;
  }
  #form-calendar {
    background-color: #ffe1e9;
    padding: 15px;
    border-radius: 6px;
  }
  .text-input,
  .date-input,
  .start-time-input,
  .stop-time-input,
  .add-event-btn {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    border: none;
  }
  .add-event-btn {
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.025em;
    background-color: #fff;
    color: rgb(34, 34, 34);
    border-radius: 6px;
    border: 1px solid rgb(34, 34, 34);
    cursor: pointer;
    text-transform: uppercase;
  }
  .add-event-btn:active {
    background-color: #c7dbda;
  }
  .label-text {
    margin-left: 2px;
  }
  .events-list {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 300px;
    background-color: #c7dbda;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
    display: none;
    position: relative;
  }
  .event-item {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
  }
  .h2-events {
    text-align: center;
    margin-bottom: 10px;
  }
  .delete-btn {
    font-size: 13px;
    position: absolute;
    margin-left: 250px;
    margin-top: -16px;
  }
  .delete-btn:hover {
    cursor: pointer;
  }
  .events-list {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .add-event-btn:hover {
    background-color: #c7dbda;
  }
  /* POMODORO TIMER */
  .outerModal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    position: fixed; /* Stay in place */
    z-index: -1; /* Sit on top */
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .outerModal.open {
    opacity: 1;
    z-index: 999;
  }
  .timer-wrapper {
    height: 60%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .timerContainer {
    height: 100%;
    width: 100%;
    padding: 4rem;
    background-color: plum;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .timerContainer h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .timer-btns button {
    color: white;
    font-weight: 600;
    height: 2rem;
    width: 6rem;
    border: none;
    border-radius: 2px;
    background-color: rgb(233, 190, 233);
    border-radius: 3px;
    box-shadow: 0px 0px 1px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .timer-btns {
    width: 100%;
  }
  .numberContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .numberDisplay {
    font-size: 6rem;
    margin-left: 1rem;
    align-self: center;
    justify-content: center;
  }
  #startBtn, #pauseBtn, #stopBtn {
    width: 6rem;
    height: 3rem;
  }
  /* POMODORO SET-TIME-MODAL */
  .set-modal-button {
    height: 2rem;
    width: 4rem;
    font-weight: 600;
    background-color: azure;
    border: none;
    border-radius: 2px;
  }
  button:hover {
    cursor: pointer;
  }
  .set-modal {
    position: relative;
    width: 25rem;
    padding: 10px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  .set-modal-content {
    background-color: #fefefe;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    border: 2px solid #060606;
    border-radius: 20px;
    position: relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .set-modal-button {
    background-color: #060606;
    color: whitesmoke;
    border-radius: 6px;
  }
  .modal-input {
    width: 3rem;
    height: 1rem;
    padding: 8px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 16px;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
.habits li {
  list-style: none;
}

.habitContainer {
  background: rgb(224, 211, 252);
  font-weight: 300;
}

.btn {
  border-radius: 6 px;
  border: border 1px solid black;
  font-weight: 500;
}

@media (min-width: 1200px) {
  main {
    width: 100%;
  }
  main .habitContainer {
    max-width: 50%;
  }
}/*# sourceMappingURL=style.css.map */