* {
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background:white;

}
.card{
    background: linear-gradient( 135deg,  #bffaea, #f1ffa9);
    color: #000;
    margin: auto 0;
    padding: 3% 10%;
    max-width: 600px;
    gap: 1rem;
}
.search{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    
}

.search input{
    flex:1;
}

.fa-solid {
    font-size: 80px;
    padding: 0px 30px 10px ;
}

.weather-icon{
    color:#000;
}
.weather h1{
    font-weight: 700;
    margin-top: -20px;
}
.weather h2{
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    margin: 60px 10px 0px 10px;
    flex-wrap: wrap;
    max-width: 100%;
      
}
.column{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 10px 20px;
}
.column i{
    font-size: 26px;
    padding: 0px 10px;
    margin-top: -20px;

}

.humidity, .wind{
    font-weight: 600;
    font-size: 18px;
}

.weatherContainer{
    display:none;
    max-height:100%;
}

.error{
    font-weight: 600;
    text-align: left;
    margin: -10px 0px 0px 10px;
    display: none;
}